
.aside-content {
    position: fixed;     /* la fija en la pantalla */
    top: 0;              /* pegada al borde superior */
    left: 0;             /* pegada al borde izquierdo */
    height: 100vh;       /* ocupa toda la altura de la ventana */
    width: 270px;        /* ancho fijo para la sidebar */
    background-color: #fff;  /* opcional, para diferenciarla */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    box-shadow: 2px 0 5px rgba(0,0,0,0.1); /* opcional */
    z-index: 1;       /* para que quede encima del contenido */
}

.aside-content button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color: white;
    border: #EBECF2;
    border-radius: 8px;
    cursor: pointer;
    transition: border 0.3s ease;
    width: 100%;
}

.aside-content button:hover{
    border: #EBECF2;
    background-color: #EBECF2;
}

.button-img{
    width: 24px;
    height: 24px;
}