.venta-input {
    background-color: #ffffff;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ingresar-cdb {
    width: 50%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* Necesario para ubicar el pseudo-elemento */
    padding-bottom: 20px; /* Espacio entre input y la línea */
}

/* 🔹 Línea divisoria inferior */
.ingresar-cdb::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -300px; /* para que cubra todo si el form está centrado */
    width: calc(100% + 650px); /* ajusta a todo el ancho visible */
    height: 2px;
    background-color: #e2e8f0; /* gris claro */
    opacity: 0.9;
    border-radius: 2px;
    
}

.ingresar-cdb form {
    width: 50%; /* Ajusta según prefieras */
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-box {
    margin-top: 30px;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ingresar-cdb input {
    font-size: 16px;
    outline: none;
    padding: 10px 15px;
    width: 100%;
    height: 55px;
    border: 2px solid #1a202c;
    border-radius: 7px;
    background: transparent;
    color: #2d3748;
    
}

.ingresar-cdb label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #2d3748;
    font-size: 20px;
    pointer-events: none;
    transition: .3s;
}

.ingresar-cdb input:focus ~ label,
.ingresar-cdb input:valid ~ label {
    top: 0;
    font-size: 20px;
    padding: 0 10px;
    background-color: #ffffff
}
